$primary: #227063;
$light-green:#05A69F;
$dark: #0b1720;
$muted: #6b7280;
$bg: #ffffff;
$container: 1200px;
$radius: 16px;
$card-shadow: 0 12px 30px rgba(16,24,40,0.06);
$light-text: #4B5563;
$lightest-text: #4B5563;
$dark-text: #212529;